.selector {
  display: flex;
  flex-direction: column;
  gap: var(--esp-3);
}

.question {
  font: var(--ds-font-corpo); /* 16/24 */
  font-weight: 600;
  color: var(--ds-texto-padrao);
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: var(--esp-2);
}
